@model IEnumerable<FIT5120_Project_Refugees.Models.Term>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/__DatabaseShared.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TERM_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TERM_DESC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TERM_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TERM_DESC)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TERM_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TERM_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TERM_ID })
        </td>
    </tr>
}

</table>
