<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/d3")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @RenderSection("scripts", required: false)


</head>
<body>
    <div class="topnavbar" id="myTopnav">

        <a href="@Url.Action("Index", "Home")" id="projectLogo"> Play with Refugees</a>
        <a id="hamBurger" onclick=changeToCollapsableNavBar()><i class="fa fa-bars"></i></a>
        <a id="home" href="@Url.Action("Index","Home")"> Home</a>
        <a id="analytics" href="@Url.Action("Analytics","Home")">Refugees in AU </a>
        <a id="suggestions" href="@Url.Action("Suggestions","Home")">Sports Suggestion</a>
        <a id="compare" href="@Url.Action("Contact","Home")">Sports Comparison</a>
        <a id="sportsInformation" href="@Url.Action("SportsInformation","Home")"> Sports Information </a>

        <a id="events" href="@Url.Action("Events","Home")">Find Events</a>
        <a id="locateSport" href="@Url.Action("Map","Home")">Sports Location</a>

        @*<a id="aboutUs" href="@Url.Action("About", "Home")">About Us</a>*@
        @*<div class="languageDropDown">
            <button id="language" class="dropdownButton">
                Language
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropDownContent">
                <a id="englishTranslate"> English</a>
                <a id="chineseTranslate"> Chinese </a>
            </div>
        </div>*@
    </div>





    @*<div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#f2f2f2; border-color: white; box-shadow:0px 0px 3px 0px">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li>@Html.ActionLink("Compare", "About", "Home", new { @style = "color:black;" })</li>
                        <li>@Html.ActionLink("Why Sports ?", "About", "Home", new { @style = "color:black;" })</li>
                        <li>@Html.ActionLink("About Us", "Contact", "Home", new { @style = "color:black;" })</li>
                        <div class="btn-group" style="padding:8.25px 6px 6px 4.5px;">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border:none;background-color:#f2f2f2; ">
                                <b style="color:black;font-weight:normal;">Language</b>
                            </button>
                            <ul class="dropdown-menu">
                                <li style="color:black;"><a href="#">English</a></li>
                                <li style="color:black;"><a href="#">Chinese</a></li>
                            </ul>
                        </div>
                    </ul>

                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@

   
    <div>
        <script>
            var isChinese = false;
        </script>
        @RenderBody()
        <hr />
        <footer class="container body-content">
            <p>&copy; @DateTime.Now.Year - Five Stars </p>
        </footer>
    </div>

    <script src="~/Scripts/_Layout.js"></script>


</body>
</html>
