<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/d3")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#f2f2f2; box-shadow:0px 5px 22px 1px">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Application name", "Index", "Home", new { @class = "navbar-brand" })</li>*@
                    <li>@Html.ActionLink("Home", "Index", "Home", new { @style = "color:black;font-weight:bold;font-size:35px;" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { @style = "color:black;font-weight:bold;" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { @style = "color:black;font-weight:bold;" })</li>
                    <div class="btn-group" style="padding:8.25px 6px 6px 4.5px;">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border:none;background-color:#f2f2f2; ">
                            <b style="color:black">Language</b>
                        </button>
                        <ul class="dropdown-menu">
                            <li style="color:black;"><a href="#">English</a></li>
                            <li style="color:black;"><a href="#">Chinese</a></li>
                        </ul>
                    </div>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li> @Html.ActionLink("Play With Refugees", "Index", "Home", new { @style = "color:black;font-weight:bold;" }) </li>
                </ul>

                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="">
        @RenderBody()
        <hr />
        <footer class="container body-content">
            <p>&copy; @DateTime.Now.Year - Monash Muggles </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>
